<!--{eval $_TPL['titles'] = array('人才招聘');}-->
<!--{eval $friendsname = array(1 => '仅好友可见',2 => '指定好友可见',3 => '仅自己可见',4 => '凭密码可见');}-->

<!--{template header}-->

<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_blog" class="feed">
		<h3 class="feed_header">
			<a href="cp.php?ac=job" class="r_option" target="_blank">发布</a>
		</h3>
		<!--{if $count}-->
		<ul class="line_list">
		<!--{loop $list $value}-->
			<li>
				<span class="gray r_option"><!--{date('m-d H:i',$value[dateline],1)}--></span>
				<h4><a href="space.php?uid=$space[uid]&do=job&id=$value[jobid]" target="_blank" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a></h4>
				<div class="detail">
					$value[message]
				</div>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">还没有相关的人才招聘。</div>
		<!--{/if}-->
	</div>
<!--{else}-->

<!--{if $space[self]}-->
<h2 class="title"><img src="image/app/blog.gif" />{$_SN[$space[uid]]}>人才招聘</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>人才招聘</span></a></li>
		<li class="null"  style="margin-left:670px;"><a href="cp.php?ac=job">发布</a></li>
	</ul>
</div>		

<!--{/if}-->
		
<div id="content" style="width:810px;">


	<div class="entry_list">
		<ul>
		<!--{if $list}-->
		<!--{loop $list $value}-->
			<li>
				<div class="avatardiv" >
					<div class="newavatar48" ><a href="space.php?uid=$value[uid]"><image src="$value['image1url']" /></a></div>
					<!--{if $value['hot']}--><div class="digb">$value[hot]</div><!--{/if}-->
				</div>
				<div id="next" style="margin-left:60px;margin-top:5px;">
				<div class="title">
					
					<h4><a href="space.php?uid=$value[uid]&do=$do&id=$value[jobid]" <!--{if $value[magiccolor]}--> class="magiccolor$value[magiccolor]"<!--{/if}-->>$value[subject]</a></h4>
				</div>	
					
				
				<div class="detail image_right l_text" id="blog_article_$value[jobid]">
					<!--{if $value[pic]}--><p class="image"><a href="space.php?uid=$value[uid]&do=job&id=$value[jobid]"><img src="$value[pic]" alt="$value[subject]" /></a></p><!--{/if}-->
					$value[message]
				</div>
				<div class="gray">
					发布:<a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a><span class="pipe">|</span>
					<!--{if $classarr[$value[classid]]}-->分类:{$classarr[$value[classid]]}<span class="pipe">|</span><!--{/if}-->
					<!--{if $value[viewnum]}--><a href="space.php?uid=$value[uid]&do=$do&id=$value[jobid]">阅读: $value[viewnum]次</a><span class="pipe">|</span><!--{else}-->阅读: 0次<span class="pipe">|</span><!--{/if}-->
					<!--{if $value[replynum]}--><a href="space.php?uid=$value[uid]&do=$do&id=$value[jobid]#comment">评论: $value[replynum] 个</a><!--{else}-->评论: 0次<!--{/if}-->
				</div>
				</div>
			</li>
			<br/>
		<!--{/loop}-->
		<!--{else}-->
			<div class="c_form">还没有相关的人才招聘。</div>
		<!--{/if}-->
		</ul>
	</div>
	
	<div class="page">$multi</div>
	
	

</div>


<script>
function fuidgoto(fuid) {
	window.location.href = "space.php?do=job&view=we&fuid="+fuid;
}
</script>
<!--{/if}-->
	
<!--{template footer}-->