<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>v5v5v5v5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
  </head>
  <body>
    
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar-inner container_36">
                <a class="logo grid_1" href="#" style="background:none;"><img src="./template/default/image/logo.png"></a>
                <a href="#" class="grid_5" style="float:right;color:#BDBEBF;padding-right:10px;">帮助</a>
             </div>
         </div>
         <!-- navbar end -->
         <div class="login_wrapper container_12">
            <div class="grid_1">
                 <img src="./template/default/image/login_pic.png">
            </div>
            <div class="grid_2 sign_window" id="log">
                  <ul>
                     <li style="float:left">注册账号</li>
                     <li style="padding-left:80px;" id="btna"><span>登陆</span><img src="./template/default/image/login_btn.png" style="vertical-align:-3px;" id="btna"></li>
                  </ul>
                  <form class="">
                    <input type="text" name="" placeholder="用户名" />
                 </form>
                  <form class="">
                    <input type="text" name="" placeholder="邮箱" />
                 </form>
                  <form class="">
                    <input name="" type="text" value="密码" id="tx"/>
                    <input name="" type="password" style="display:none;" id="pwd" />
                 </form>
                 <a href="#" class="sign_btn">注册微伍</a>
            </div>
             <div class="grid_2 sign_window" id="sign" style="positon:relative;right:-300px;margin-top:-278px;">
                  <ul>
                     <li style="float:left">登陆账号</li>
                     <li style="padding-left:80px;" id="btnb"><span>注册</span><img src="./template/default/image/login_btn.png" style="vertical-align:-3px;" id=""></li>
                  </ul>
                
         <form name="loginform" action="do.php?ac=$_SCONFIG[login_action]&$url_plus&ref" method="post">
        <input type="text" name="username" id="username"  value="$membername" />
        <input type="password" name="password" id="password" value="$password" />
        <p class="submitrow">
          <input type="hidden" name="refer" value="space.php?do=home" />
          <input type="submit" id="loginsubmit" class="sign_btn" name="loginsubmit" value="登录" class="submit" />
          <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
        </p>
      </form>
            </div>
         </div>

          <p class="login_page_company_title"><span>已经开通企业</span><span class="more"><a href="">更多</a></span></p>
          <div class="companies_wrapper">
          <div class="companies container_12">
            <!--{loop $openlist $key $value}-->
            <div class="grid_3">
                   <span style="float:left;padding-right:10px;width:71px;height:71px;overflow:hidden;margin-bottom:20px;"><!--{avatar($value[uid],middle)}--></span>
                   <span class="company_name">{$_SN[$value[uid]]}</span><br>
                    <span><a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]" class="fans">$value[friendnum]粉丝</a></span> 
              </div>
       
      <!--{/loop}-->
             
            
          </div>
    
      </div><!-- 无类div结束 -->
      <p class="login_page_company_title"><span>品牌合作企业</span><span class="more"><a href="">更多</a></span></p>
               <div class="companies_wrapper">
          <div class="companies container_12">
              <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               
          </div>
          
            <div class="companies container_12">
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
          </div>
      </div><!-- 无类div结束 -->
    </div><!-- wrraper end -->


     <script src="./source/jquery_v1.10.2.js"></script>
    <script type="text/javascript">
   $('#btna').click(function(){
    $('#log').animate({ opacity: '0'
},200);  
     $('#sign').animate({right:'0'
},200);  
    // $('#log').slideToggle("medium","linear");
    // $('#sign').slideToggle("medium","linear");
   });
    $('#btnb').click(function(){
    $('#sign').animate({ right:'-300px'
},200);  
     $('#log').animate({opacity: '1'
},200);  
    // $('#log').slideToggle("medium","linear");
    // $('#sign').slideToggle("medium","linear");
   })
</script>
    <script type="text/javascript" src="./source/placeholder.js"></script>
    <script type="text/javascript">
var tx = document.getElementById("tx"), pwd = document.getElementById("pwd");
tx.onfocus = function(){
if(this.value != "密码") return;
this.style.display = "none";
pwd.style.display = "";
pwd.value = "";
pwd.focus();
}
pwd.onblur = function(){
if(this.value != "") return;
this.style.display = "none";
tx.style.display = "";
tx.value = "密码";
}

</script>
<!-- 以上为ie不兼容placeholder而写的 -->
<!--{template footer}-->
    <!--<script src="js/bootstrap.min.js"></script>-->
