<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>微伍v5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">  
    <!-- Bootstrap -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
     
    <style type="text/css">
        .companies .grid_3 span img{
             max-width:71px;max-height:71px;min-width:71px;min-height:71px;
          } 
        .companies .grid_4 img{
             max-width:172px;max-height:53px;min-width:172px;min-height:53px;
        }
             </style>
  </head>
  <body>
    
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar-inner container_36">
                <a class="logo grid_1" href="#" style="background:none;"><img src="./template/default/image/logo.png"></a>
                <a href="#" class="grid_5" style="float:right;color:#BDBEBF;padding-right:18px;">帮助</a>
             </div>
         </div>
         <!-- navbar end -->
         <div class="login_wrapper container_12">
            <div class="grid_1">
                 <img src="./template/default/image/login_pic.png">
            </div>
            <div class="grid_2 sign_window" id="log">
                  <ul>
                     <li style="float:left">注册账号</li>
                     <li style="padding-left:60px;" id="btna"><a href="javascript:void(0)" class="login_hover"><span style="margin-right:8px;">登陆</span><img class="login_png" src="./template/default/image/login_btn.png" style="vertical-align:-3px;" id="btna" onmouseover="this.src='./template/default/image/login_btn_hover.png'" onmouseout="this.src='./template/default/image/login_btn.png'"></a></li>
                  </ul>
                 <form id="registerform" name="registerform" action="do.php?ac=$_SCONFIG[register_action]&$url_plus&ref" method="post" style="padding-left:6px;">
                  <input type="text" id="username" name="username" value="" placeholder="用户名"  onBlur="checkUserName()" tabindex="2" />&nbsp;<span id="checkusername">&nbsp;</span>
                  <input type="text" id="email" name="email" placeholder="邮箱"  tabindex="5" /><span>&nbsp;&nbsp;</span>
                    <input type="password" name="password" id="tx" placeholder="密码"  onBlur="checkPassword()" onkeyup="checkPwd(this.value);" tabindex="3" />&nbsp;<span id="checkpassword">&nbsp;</span>
                    <input name="" type="password" style="display:none;" id="pwd" />
                    <input type="hidden" name="refer" value="cp.php?ac=profile" />
                    <input type="submit" id="registersubmit" name="registersubmit" style="border:none;margin-right: 10px;" value="注册微伍" class="sign_btn" onclick="<!--{if $register_rule}-->if(!checkClause()){return false;}<!--{/if}-->ajaxpost('registerform', 'register');" tabindex="6" />
                    <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
                 </form>
            </div>
             <div class="grid_2 sign_window" id="sign" style="positon:relative;right:-1000px;margin-top:-278px;">
                  <ul>
                     <li style="float:left">登陆账号</li>
                     <li style="padding-left:60px;" id="btnb"><a href="javascript:void(0)"  class="login_hover">注册
                     <img class="login_png" src="./template/default/image/login_btn.png" style="vertical-align:-3px;" id="" onmouseover="this.src='./template/default/image/login_btn_hover.png'" onmouseout="this.src='./template/default/image/login_btn.png'"></a></li>
                  </ul>
                
         <form name="loginform" action="do.php?ac=$_SCONFIG[login_action]&$url_plus&ref" method="post">
        <input type="text" name="username" id="username"  value="$membername" />
        <input type="password" name="password" id="password"  />
        <p class="submitrow">
          <input type="hidden" name="refer" value="space.php?do=home" />
          <input type="submit" id="loginsubmit" style="border:none;" class="sign_btn" name="loginsubmit" value="登录" class="submit" />
          <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
        </p>
      </form>
            </div>
         </div>

          <p class="login_page_company_title"><span><b>已经开通企业</b></span><span class="more"><a href="">更多</a></span></p>
          <div class="companies_wrapper">
          <div class="companies container_12">
            <!--{loop $openlist $key $value}-->
            <div class="grid_3">
                   <a href="space.php?uid=$value[uid]"><span style="float:left;padding-right:10px;max-width:71px;max-height:71px;min-width:71px;min-height:71px;overflow:hidden;margin-bottom:20px;"><!--{avatar($value[uid],middle)}--></span></a>
                   <a href="space.php?uid=$value[uid]"><span class="company_name">{$_SN[$value[uid]]}</span></a><br>
                    <span><a  class="fans">$value[friendnum]客户</a></span> 
              </div>
      
      <!--{/loop}-->
             
            
          </div>
    
      </div><!-- 无类div结束 -->


      <p class="login_page_company_title"><span><b>品牌合作企业</b></span><span class="more"><a href="">更多</a></span></p>
               <div class="companies_wrapper">
          <div class="companies container_12">
              <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               
          </div>
          
            <div class="companies container_12">
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
               <div class="grid_4">
                  <img src="./template/default/image/example3.png">
              </div>
          </div>
      </div><!-- 无类div结束 -->
    </div><!-- wrraper end -->


     <script src="./source/jquery.js" type="text/javascript"></script> 
       <script type="text/javascript" src="./source/placeholder.js"></script>
    <script type="text/javascript">

   $('#btna').click(function(){
    $('#log').animate({ opacity: '0'
},200);  
     $('#sign').animate({right:'0'
},200);  
    // $('#log').slideToggle("medium","linear");
    // $('#sign').slideToggle("medium","linear");
   });
    $('#btnb').click(function(){
    $('#sign').animate({ right:'-1000px'
},200);  
     $('#log').animate({opacity: '1'
},200);  
    // $('#log').slideToggle("medium","linear");
    // $('#sign').slideToggle("medium","linear");
   })
</script>

             <script type="text/javascript">
<!--
  $('username').focus();
  var lastUserName = lastPassword = lastEmail = lastSecCode = '';
  function checkUserName() {
    var userName = $('username').value;
    if(userName == lastUserName) {
      return;
    } else {
      lastUserName = userName;
    }
    var cu = $('checkusername');
    var unLen = userName.replace(/[^\x00-\xff]/g, "**").length;

    if(unLen < 3 || unLen > 150) {
      warning(cu, unLen < 3 ? '用户名小于3个字符' : '用户名超过 15 个字符');
      return;
    }
    ajaxresponse('checkusername', 'op=checkusername&username=' + (is_ie && document.charset == 'utf-8' ? encodeURIComponent(userName) : userName));
  }
  function checkPassword(confirm) {
    var password = $('password').value;
    if(!confirm && password == lastPassword) {
      return;
    } else {
      lastPassword = password;
    }
    var cp = $('checkpassword');
    if(password == '' || /[\'\"\\]/.test(password)) {
      warning(cp, '密码空或包含非法字符');
      return false;
    } else {
      cp.style.display = '';
      cp.innerHTML = '<img src="image/check_right.gif" width="13" height="13">';
      if(!confirm) {
        checkPassword2(true);
      }
      return true;
    }
  }
  </script>
  <script type="text/javascript">
       $("input").change(function(){
        $(this).css("color","#333")
       })
  </script>
  <script type="text/javascript">
      $(".login_hover").mouseover(function(){
          $(".login_png").attr("src","./template/default/image/login_btn_hover.png")
      });
      $(".login_hover").mouseout(function(){
          $(".login_png").attr("src","./template/default/image/login_btn.png")
      });

  </script>

             <script>
  function register(id, result) {
    if(result) {
      $('registersubmit').disabled = true;
      window.location.href = "$jumpurl";
    } else {
      updateseccode();
    }
  }
</script>

  
    <script type="text/javascript">
var tx = document.getElementById("tx"), pwd = document.getElementById("pwd");
tx.onfocus = function(){
if(this.value != "密码") return;
this.style.display = "none";
pwd.style.display = "";
pwd.value = "";
pwd.focus();
}
pwd.onblur = function(){
if(this.value != "") return;
this.style.display = "none";
tx.style.display = "";
tx.value = "密码";
}

</script>
<!-- 以上为ie不兼容placeholder而写的 -->
<!--{template footer}-->
    <!--<script src="js/bootstrap.min.js"></script>-->
