<!DOCTYPE html>
<html>
  <head>
    <title>v5v5v5v5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <!--{template header}-->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="./template/default/jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="./template/default/style1.css">
    <link rel="stylesheet" type="text/css" href="./template/default/weixin.css">
  </head>
  <body>
    
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
          <script type='text/javascript' src='./source/jquery.simplemodal.js'></script>
          <script type="text/javascript">
          $(document).ready(function(){
            $('#weixin').attr("style", "display:none;");
            $('#weixinhome').click(function (e) {
                e.preventDefault();
                $('#weixin').modal();
                   });        
                 })
          </script>
         <!-- navbar end -->
        
          <!-- side_bar end -->

            <div class="content" style="width:760px;">
                 <div class="content" style="font-size:15px;width:760px;">
          
                 <div class="indexing">
                 <span><a href="space.php?do=home">首页</a></span>><span>微信自定义菜单</span>
                 </div><!-- end -->
                 <div class="bread container_12">
                     <div class="bread_actived grid_1">
                         微信自定义菜单
                     </div>

                     <a href="space.php?do=weixinmenu&edit=1" class="btn grid_2">修改</a>
                 </div> 
                <!--{if empty($list)}-->
                 <div class="content_detail_wrapper">
                   <form method="post" action="space.php?do=weixinmenu" onkeydown="if(event.keyCode==13){return false;}">
                     <div class="left_weixin">
                        <div class="weixin_header">
                            <img src="./template/default/image/wx_header.png" alt="">
                        </div>
                        <div class="wx_body">  
                          <div class="weixin_choose">
                              <div class="wx_choose_img">
                                    <span>点击添加图片</span>
                                    <input type="file">
                              </div> 
                              
                              <input type="text" class="input_text" value="输入欢迎语" onFocus="this.value=''">
                             
                              <div class="article_choose" id="weixinhome">
                                 <span>点击选择文章</span>
                                 <img src="./template/default/image/avata1.png" alt="">
                              </div>
                                 <a class="article_choose" href="#">
                                 <span>点击选择文章</span>
                                 <img src="./template/default/image/avata1.png" alt="">
                              </a>

                          </div>
                              <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="1">
                                <li></li>
                                
                                <li></li>
                                <li></li>
                              <li><img src="./template/default/image/erji_add.png" class="add"></li>
                              <li><input type="text" class="erji_input" name="1sub_button1" value="$list[0][sub_button1]"  placeholder="请填写"/></li>
                          </ul>
                          </div>
                            <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="2">
                                
                                <li></li>
                                <li></li>
                                <li></li>
                              <li><img src="./template/default/image/erji_add.png" class="add1"></li>
                              <li><input type="text" class="erji_input" name="2sub_button1" value="$list[1][sub_button1]" placeholder="请填写"/></li>
                          </ul>
                          </div>
                          <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="3">
                                
                                <li></li>
                                <li></li>
                                <li></li>
                              <li><img src="./template/default/image/erji_add.png" class="add2"></li>
                              <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                          </ul>
                          </div>
                          <div class="clear"></div>
                          <div style="display:inline;">
                          <ul class="erji_menu_tips">
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="1" class="tip_img"></a></li>
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="2" class="tip_img"></a></li>
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="3" class="tip_img"></a></li>
                          </ul>
                          
                          </div>
                        </div>
                          <div class="wx_nav">
                                <ul>
                                  <li style="border-left:1px solid #CCCCCC;"><input type="text" name="button1" placeholder="请填写" tag="1" value="$list[0][button]" class="first_menu"></li>
                                  <li><input type="text" placeholder="请填写" name="button2" value="$list[1][button]" tag="2" class="first_menu"></li>
                                  <li><input type="text" placeholder="请填写" tag="3" value="$list[2][button]" name="button3" class="first_menu"></li>
                                </ul>
                          </div>

                     </div>
                     <div class="wx_notice_text">
                      <h3>注意事项</h3>
                      <ol>
                        <li>顶部是初次使用的推送文章</li>
                        <li> 底部是微信一级菜单和二级菜单, 一级菜单填写完成后才能继续二级菜单填写</li>
                        <li>微信自定义菜单填写完成后, 您的公众帐号出现一样的自定义内容</li>
                      </ol>
                     </div>
                          <input type="submit" class="btn grid_2">
                          <input type="hidden" name="fristsubmit" value="1">
                        
                  </form>
                 </div><!-- content_detail_wrapper end -->
            
            </div>
              
          </div><!-- content_wrapper end -->
    </div><!-- wrraper end -->
<!--{template footer}-->

    <script src="./source/placeholder.js"></script>
    <script type="text/javascript">
         $(document).ready(function(){
           $(".first_menu").blur(
            
               function(){
                // var ke=$(this).val();
                // alert(ke);
                 if($(this).val()!="" && $(this).val()!="请填写"){
                   var q=$(this).attr("tag");
                  if($(".erji_box[tag=" + q + "]").is(":hidden")){
                    $("img[tag=" + q + "]").show();
                  }

                 }
                 
                  
               }             
            );
           $(".first_menu").keydown(function(){
              if(event.keyCode == 13){
                  var q=$(this).attr("tag");
                  $("img[tag=" + q + "]").show();                  
                 }
               });
            
            // 回车事件
            $(".tip_img").click(function(){
              var r=$(this).attr("tag");
              $(this).parent().hide();
              // var new_r=r+""；
              $(".erji_box[tag=" + r + "]").show();
              $(".erji_box[tag=" + r + "]").children().children(".add").hide();
              $(this).parent().parent().css({"position":"relative","z-index":"1"});
            });


             $(".erji_input").bind("blur keydown",function(){
              if(event.keyCode == 13){
                var that=$(this);
              if ($(this).val()!="") {
                $(this).parent().siblings().children(".add").show()
              };
              }
             })
          
            var a=1; 
            $(".add").click(
                function(){
                  var that=$(this);
                  var placeholder_val=$(this).parent().next().children("input").val();
                  // alert(placeholder_val);
                  a++;
                   if(placeholder_val!="" && placeholder_val!="请填写"){
                    if ($(this).parent("li").siblings().children(".add_input").length<4){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' name='1sub_button"+a+"' placeholder='请填写' class='add_input'></li>");
                         if ($(this).parent("li").siblings().children(".add_input").length==4){
                           $(this).parent().parent().parent().attr("style","margin-top:-40px;");
                             $(this).hide(); 
                     }
                    }

                            $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (that.val()!="" && that.parent().siblings().children(".add_input").length<3) {
                      that.parent().siblings().children(".add").show()
                      
                    }
                    
                    if(that.val()==""){
                      that.remove();
                      
                    }
                              }
                            })
                   } 
                   that.hide();  
                }
              );
              var b=1;
               $(".add1").click(
                function(){
                  var that=$(this);
                  var placeholder_val=$(this).parent().next().children("input").val();
                  // alert(placeholder_val);
                   if(placeholder_val!="" && placeholder_val!="请填写"){
                    if ($(this).parent("li").siblings().children(".add_input").length<4){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' placeholder='请填写'  name='2sub_button"+b+"' class='add_input'></li>");
                         if ($(this).parent("li").siblings().children(".add_input").length==4){
                           $(this).parent().parent().parent().attr("style","margin-top:-40px;");
                             $(this).hide(); 
                     }
                    }

                            $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (that.val()!="" && that.parent().siblings().children(".add_input").length<3) {
                      that.parent().siblings().children(".add1").show()
                      
                    }
                    
                    if(that.val()==""){
                      that.remove();
                      
                    }
                              }
                            })
                   } 
                   that.hide();  
                }
              );
              var c=1;
                 $(".add2").click(
                function(){
                  var that=$(this);
                  var placeholder_val=$(this).parent().next().children("input").val();
                  var dd="$list['2'][sub_button"+c+"]";
                  // alert(placeholder_val);
                   if(placeholder_val!="" && placeholder_val!="请填写"){
                    if ($(this).parent("li").siblings().children(".add_input").length<4){
                        $(this).parent().prev("li").remove();
                        $(this).parent().after("<li><input type='text' placeholder='请填写'  name='3sub_button"+c+"' class='add_input'></li>");
                         if ($(this).parent("li").siblings().children(".add_input").length==4){
                           $(this).parent().parent().parent().attr("style","margin-top:-40px;");
                             $(this).hide(); 
                     }
                    }

                            $(".add_input").bind("blur keydown",function(){
                              if(event.keyCode == 13){
                                  var that=$(this);
                    if (that.val()!="" && that.parent().siblings().children(".add_input").length<3) {
                      that.parent().siblings().children(".add2").show()
                      
                    }
                    
                    if(that.val()==""){
                      that.remove();
                      
                    }
                              }
                            })
                   } 
                   that.hide();  
                }
              );

        })
    </script>
     <!--{else}-->  
                          <div class="content_detail_wrapper">
                   <form method="post" action="space.php?do=weixinmenu" onkeydown="if(event.keyCode==13){return false;}">
                     <div class="left_weixin">
                        <div class="weixin_header">
                            <img src="./template/default/image/wx_header.png" alt="">
                        </div>
                        <div class="wx_body">  
                          <div class="weixin_choose">
                              <div class="wx_choose_img">
                                    <span>点击添加图片</span>
                                    <input type="file">
                              </div> 
                              
                              <input type="text" class="input_text" value="输入欢迎语" onFocus="this.value=''">
                             
                              <div class="article_choose" id="weixinhome">
                                 <span>点击选择文章</span>
                                 <img src="./template/default/image/avata1.png" alt="">
                              </div>
                                 <a class="article_choose" href="#">
                                 <span>点击选择文章</span>
                                 <img src="./template/default/image/avata1.png" alt="">
                              </a>

                          </div>
                              <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="1">
                                <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                              <li><input type="text" class="erji_input" name="1sub_button1" value="$list[0][sub_button1]"  placeholder="请填写"/></li>
                              <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                              <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                              <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                          </ul>
                          </div>
                            <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="2">
                                <li><input type='text' placeholder='请填写'  name='3sub_button3' class='add_input'></li>
                                <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                                <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                                <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                              <li><input type="text" class="erji_input" name="2sub_button1" value="$list[1][sub_button1]" placeholder="请填写"/></li>
                          </ul>
                          </div>
                          <div class="erji_box_wrap">
                           <ul style="" class="erji_box" tag="3">
                                <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                                <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                                <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                              <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                              <li><input type="text" class="erji_input" name="3sub_button1" value="$list[2][sub_button1]"  placeholder="请填写"/></li>
                          </ul>
                          </div>
                          <div class="clear"></div>
                          <div style="display:inline;">
                          <ul class="erji_menu_tips">
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="1" class="tip_img"></a></li>
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="2" class="tip_img"></a></li>
                                  <li><a href="javascript:;"><img src="./template/default/image/erji_menu.png" alt="" tag="3" class="tip_img"></a></li>
                          </ul>
                          
                          </div>
                        </div>
                          <div class="wx_nav">
                                <ul>
                                  <li style="border-left:1px solid #CCCCCC;"><input type="text" name="button1" placeholder="请填写" tag="1" value="$list[0][button]" class="first_menu"></li>

                                  <li><input type="text" placeholder="请填写" name="button2" value="$list[1][button]" tag="2" class="first_menu"></li>
                                  <li><input type="text" placeholder="请填写" tag="3" value="$list[2][button]" name="button3" class="first_menu"></li>
                                </ul>
                          </div>

                     </div>
                     <div class="wx_notice_text">
                      <h3>注意事项</h3>
                      <ol>
                        <li>顶部是初次使用的推送文章</li>
                        <li> 底部是微信一级菜单和二级菜单, 一级菜单填写完成后才能继续二级菜单填写</li>
                        <li>微信自定义菜单填写完成后, 您的公众帐号出现一样的自定义内容</li>
                      </ol>
                     </div>
                          <input type="submit" class="btn grid_2">
                          <input type="hidden" name="fristsubmit" value="1">
                        
                  </form>
                 </div><!-- content_detail_wrapper end -->
            
            </div>
              
          </div><!-- content_wrapper end -->
    </div><!-- wrraper end -->
<!--{template footer}-->
                          <input type="submit" class="btn grid_2">
                          <input type="hidden" name="secondsubmit" value="1">
      <!--{/if}-->
    <div id="weixin">
                    <form action = "space.php?do=feed" method = "post" style="margin:0 auto;text-align:center;">
    <br/>
   <h3 style="font-size:20px;color:#44B1BA;margin-left:-10px;line-height:40px;">你的微信登录名：<input type="text" name="weixinusername"></h3>
    <h3 style="font-size:20px;color:#44B1BA;margin:0;line-height:40px;padding-left:10px;">你的微信密码：<input type="text" name="weixinpassword"></h3><br/>
    <input type="submit" name="submit" style="margin-left:250px;" class="modalCloseImg simplemodal-close" id="true" title="Close"  value="修改">
    <input type="hidden" name="alreadyweixin" value="1">
    </form>

                        </div>
  </body>
</html>