<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->

<!--{if $narrowlist || $widelist}-->
<script type="text/javascript" src="source/script_swfobject.js"></script>
<!--{/if}-->
 <script type="application/javascript" src="./template/default/awesomechart.js"> </script>

    <head>

        <style>
        
            body{
                background: #fff;
                color: #333;
            }
            
            a, a:visited, a:link, a:active{
                color: #333;
            }
            
            a:hover{
                color: #00f;
            }
        
            .charts_container{
                width: 900px;
                height: 420px;
                margin: 10px auto;
            }
            
            .chart_container_centered{
                text-align: center;
                width: 900px;
                height: 420px;
                margin: 10px auto;
            }
            
            .chart_container{
                width: 400px;
                height: 400px;
                margin: 0px 25px;
                float: left;
            }
            
            .footer{
                font-size: small;
                text-align: right;
            }
        </style>
    </head>
    <body>

        

     	  


		
<div id="content" style="width:1024px;">

<div class="content_detail_wrapper">
<div id="space_page" >
<br/>
	<div id="ubar">

		<div id="space_avatar">
			<!--{if $space[magicstar] && $space[magicexpire]>$_SGLOBAL[timestamp]}-->
			<div class="magicstar">
			<object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,45,0" width="200" height="250">
				<param name="movie" value="image/magic/star/{$space[magicstar]}.swf" />
				<param name="quality" value="high" />
				<param NAME="wmode" value="transparent">
				<embed src="image/magic/star/{$space[magicstar]}.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash"  wmode="transparent" width="200" height="250"></embed>
			</object>
			</div>
			
			<div class="magicavatar"><!--{else}--><div><!--{/if}--><!--{avatar($space[uid],big)}--></div>
			
		</div>



	<br />

		<div id="space_mymenu">
			<h2>个人菜单</h2>
			<ul class="line_list">
				<li>
					<!--{if $space[self]}-->
					<a href="cp.php?ac=introduce" class="r_option" target="_blank">发表</a>
					<!--{/if}-->
					<img src="image/icon/doing.gif"><a href="javascript:;" onclick="getindex('introduce');">企业介绍</a><!--{if $space[doingnum]}--><em>($space[doingnum])</em><!--{/if}-->
				</li>
				<li>
					<!--{if $space[self]}-->
					<a href="cp.php?ac=product" class="r_option" target="_blank">发表</a>
					<!--{/if}-->
					<img src="image/icon/blog.gif"><a href="javascript:;" onclick="getindex('product');">产品介绍</a><!--{if $space[blognum]}--><em>($space[blognum])</em><!--{/if}--></li>
				<li><!--{if $space[self]}-->
					<a href="cp.php?ac=development" class="r_option" target="_blank">发表</a>
					<!--{/if}-->
					<img src="image/icon/album.gif"><a href="javascript:;" onclick="getindex('development');">企业动态</a><!--{if $space[albumnum]}--><em>($space[albumnum])</em><!--{/if}--></li>
				<li><!--{if $space[self]}-->
					<a href="cp.php?ac=thread" class="r_option" target="_blank">发表</a>
					<!--{/if}-->
					<img src="image/icon/thread.gif"><a href="javascript:;" onclick="getindex('industry');">行业动态</a><!--{if $space[threadnum]}--><em>($space[threadnum])</em><!--{/if}--></li>
				<li><!--{if $space[self]}-->
					<a href="cp.php?ac=branch" class="r_option" target="_blank">发起</a>
					<!--{/if}-->
					<img src="image/icon/poll.gif"><a href="javascript:;" onclick="getindex('branch');">分支机构</a><!--{if $space[pollnum]}--><em>($space[pollnum])</em><!--{/if}--></li>
				<li><!--{if $space[self]}-->
					<a href="cp.php?ac=job" class="r_option" target="_blank">发起</a>
					<!--{/if}-->
					<img src="image/icon/event.gif"><a href="javascript:;" onclick="getindex('job');">人才招聘</a><!--{if $space[eventnum]}--><em>($space[eventnum])</em><!--{/if}--></li>
				<li><!--{if $space[self]}-->
					<a href="cp.php?ac=cases" class="r_option" target="_blank">发布</a>
					<!--{/if}-->
					<img src="image/icon/share.gif"><a href="javascript:;" onclick="getindex('share');">成功案例</a><!--{if $space[sharenum]}--><em>($space[sharenum])</em><!--{/if}--></li>
				<li><!--{if $space[self]}-->
					<a href="cp.php?ac=friend&op=search" class="r_option" target="_blank">寻找</a>
					<!--{/if}-->
					<img src="image/icon/friend.gif"><a href="javascript:;" onclick="getindex('friend');">客户</a><!--{if $space[friendnum]}--><em>($space[friendnum])</em><!--{/if}--></li>
			</ul>
		</div>

		<!--{if $guidelist}-->
		<div id="space_app_guide">
			<h2>应用菜单</h2>
			<ul class="line_list">
			<!--{loop $guidelist $value}-->
			<li id="space_app_profilelink_$value[appid]">
				<!--{if $space[self]}-->
				<a href="cp.php?ac=space&op=delete&appid=$value[appid]&type=profilelink" id="user_app_profile_$value[appid]" class="r_option float_del" style="position: static;" onclick="ajaxmenu(event, this.id)" title="删除">删除</a>
				<!--{/if}-->
				<img src="http://appicon.manyou.com/icons/$value[appid]"><!--{eval eval($value[profilelink]);}-->
			</li>
			<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->

		<!--{loop $narrowlist $value}-->
		<div id="space_app_$value[appid]">
			<h2>
				<!--{if $space[self]}-->
				<a href="cp.php?ac=space&op=delete&appid=$value[appid]" id="user_app_$value[appid]" class="r_option float_del" onclick="ajaxmenu(event, this.id)" title="删除">删除</a>
				<!--{/if}-->
				<a href="$value[appurl]">$value[appname]</a>
			</h2>
			<!--{if $value[myml]}-->
			<div class="box">
			<!--{eval eval($value[myml]);}-->
			</div>
			<!--{/if}-->
		</div>
		<!--{/loop}-->

	</div>

	<div id="content">
			
		<h3 id="spaceindex_name">
		<!--{if $_SCONFIG[realname]}-->
			<!--{if $space[name]}--><a href="space.php?uid=$space[uid]"<!--{eval g_color($space[groupid]);}-->>$space[name]</a><!--{else}-->未填写实名<!--{/if}-->
			&nbsp;<em>(用户名: $space[username])</em>
		<!--{else}-->
			<a href="space.php?uid=$space[uid]"<!--{eval g_color($space[groupid]);}-->>$space[username]</a>
			<!--{if $space[name]}-->&nbsp;<em>(姓名: $space[name])</em><!--{/if}-->
		<!--{/if}-->

		<!--{if $_SCONFIG[realname]}-->
			<!--{if $space[namestatus]}-->
				&nbsp;<img src="image/realname_yes.gif" align="absmiddle" alt="已通过实名认证">
			<!--{else}-->
				&nbsp;<img src="image/realname_no.gif" align="absmiddle" alt="未通过实名认证"> <span class="gray">实名未认证</span>
			<!--{/if}-->
		<!--{/if}-->
			
		<!--{if $_SCONFIG[videophoto]}-->	
			<!--{if $space[videostatus]}-->
				&nbsp;<img src="image/videophoto_yes.gif" align="absmiddle" alt="已通过视频认证"> <a id="a_space_videophoto" href="space.php?uid=$space[uid]&do=videophoto" onclick="ajaxmenu(event, this.id, 1)"><span style="color:red;font-weight:bold;font-size:12px;">查看视频认证照</span></a>
			<!--{else}-->
				&nbsp; <img src="image/videophoto_no.gif" align="absmiddle" alt="未通过视频认证"> <span class="gray"><a href="cp.php?ac=videophoto">视频未认证</a></span>
			<!--{/if}-->
		<!--{/if}-->
		</h3>


		<div id="spaceindex_note">
			<a href="cp.php?ac=share&type=space&id=$space[uid]" class="a_share" id="a_share" onclick="ajaxmenu(event, this.id, 1)">分享</a>
			<a href="rss.php?uid=$space[uid]" id="i_rss" title="订阅 RSS">订阅</a>
			
			<ul class="note_list">
				<li>已有 $space[viewnum] 人次访问, $space[credit] 个积分, $space[experience] 个经验 $space[star]</li>
				<li>用户组别：<a href="cp.php?ac=credit&op=usergroup">{$_SGLOBAL[grouptitle][$space[groupid]][grouptitle]}</a> <!--{eval g_icon($space[groupid]);}--></li>
				<li>主页地址：<a href="$space[domainurl]" onclick="javascript:setCopy('$space[domainurl]');return false;" class="spacelink domainurl">$space[domainurl]</a></li>
			
			</ul>
	
			<!--{if $space[self]}-->
				<!--{template space_status}-->
			<!--{/if}-->
		</div>

		<div id="maincontent">


		<h3 class="feed_header">
				<!--{if $space[name]}-->$space[name]<!--{else}-->$space[username]<!--{/if}-->评论统计
			</h3>
		
		 <div class="charts_container">
            <div class="chart_container">
            
                <canvas id="chartCanvas1" width="520" height="400" style="text-align:center;margin:0 auto;">
                    Your web-browser does not support the HTML 5 canvas element.
                </canvas>
                
            </div>
            

        </div>

<!--{if $cba=="1"}-->
<h3 class="feed_header">
				<!--{if $space[name]}-->$space[name]<!--{else}-->$space[username]<!--{/if}-->组件使用统计
			</h3>
<div class="charts_container">
		  <div class="chart_container">
            
                <canvas id="chartCanvas2" width="520" height="400" style="text-align:center;margin:0 auto;">
                    Your web-browser does not support the HTML 5 canvas element.
                </canvas>
                
            </div>
               </div>
	<!--{/if}-->	

		<!--{if $feedlist}-->
		<!--{eval $_TPL['hidden_hot']=1;}-->
		<div id="space_feed" class="feed">
			<h3 class="feed_header">
				<span class="entry-title">最新动态</span>
			</h3>
			<div class="box_content">
				<ul>
				<!--{loop $feedlist $value}-->
					<!--{template space_feed_li}-->
				<!--{/loop}-->
				</ul>
			</div>
		</div>
		<!--{/if}-->

	
		
		<!--{loop $widelist $value}-->
		<!--{if $value[myml]}-->
		<div id="space_app_$value[appid]" class="appbox">
			<h3 class="feed_header">
				<!--{if $space[self]}-->
				<a href="cp.php?ac=space&op=delete&appid=$value[appid]" id="user_app_$value[appid]" class="r_option float_del" onclick="ajaxmenu(event, this.id)" title="删除">删除</a>
				<!--{/if}-->
				<a href="$value[appurl]">$value[appname]</a>
			</h3>
			<div class="box" style="margin: 0 0 20px;">
			<!--{eval eval($value[myml]);}-->
			</div>
		</div>
		<!--{/if}-->
		<!--{/loop}-->

		</div>


	</div>

	<div id="obar">
		<!--{if !$space['self']}-->

			<!--{if $space['magiccredit']}-->
			<div class="magichongbao" id="div_magic_gift">
				<a id="a_magic_gift" href="cp.php?&ac=magic&op=receive&uid=$space[uid]" onclick="ajaxmenu(event, this.id)">送你 <span>$space[magiccredit]</span> 积分大红包</a>
			</div>
			<!--{/if}-->

			<!--{if $_SGLOBAL[magic][viewmagiclog] || $_SGLOBAL[magic][viewmagic] || $_SGLOBAL[magic][viewvisitor]}-->
			<div class="indexmagic">
			<!--{loop array('viewmagiclog','viewmagic','viewvisitor') $mid}-->
				<!--{if $_SGLOBAL[magic][$mid]}-->
				<a id="a_magic_{$mid}" href="magic.php?mid=$mid&idtype=uid&id=$space[uid]" onclick="ajaxmenu(event,this.id,1)">
				<img src="image/magic/{$mid}.small.gif" title="{$_SGLOBAL[magic][$mid]}" alt="{$_SGLOBAL[magic][$mid]}">
				</a>
				<!--{/if}-->
			<!--{/loop}-->
			</div>
			<!--{/if}-->
		<!--{else}-->
			<!--{if $_SGLOBAL[magic][gift]}-->
			<div class="magichongbao" id="div_magic_gift">				
				<!--{if $space['magiccredit']}-->
				<a id="a_magic_retrieve" href="cp.php?ac=magic&op=retrieve" onclick="ajaxmenu(event,this.id)">回收埋下的积分</a>
				<!--{else}-->
				<a id="a_magic_gift" href="magic.php?mid=gift" onclick="ajaxmenu(event,this.id,1)">给来访者埋个红包</a>
				<!--{/if}-->				
			</div>
			<!--{/if}-->
		<!--{/if}-->


		<!--{if $visitorlist}-->
		<div class="sidebox">
			<h2 class="title">
				<a href="space.php?uid=$space[uid]&do=friend&view=visitor" class="r_option">全部</a>
				最近来访
				<!--{if !$space[self] && $_SGLOBAL[magic][anonymous]}-->
				<span class="gray"><img title="$_SGLOBAL[magic][anonymous]" src="image/magic/anonymous.small.gif"/><a id="a_magic_anonymous" href="magic.php?mid=anonymous&idtype=uid&id=$space[uid]" onclick="ajaxmenu(event,this.id,1)">匿名</a></span>
				<!--{/if}-->
			</h2>
			<ul class="avatar_list">
				<!--{loop $visitorlist $key $value}-->
				<li>
					<!--{if $value[vusername] == ''}-->
					<div class="avatar48"><img src="image/magic/hidden.gif" alt="匿名" /></div>
					<p>匿名</p>
					<p class="gray"><!--{date('n月j日',$value[dateline],1)}--></p>
					<!--{else}-->
					<div class="avatar48"><a href="space.php?uid=$value[vuid]"><!--{avatar($value[vuid],small)}--></a></div>
					<p<!--{if $ols[$value[vuid]]}--> class="online_icon_p"<!--{/if}-->><a href="space.php?uid=$value[vuid]" title="{$_SN[$value[vuid]]}">{$_SN[$value[vuid]]}</a></p>
					<p class="gray"><!--{date('n月j日',$value[dateline],1)}--></p>
					<!--{/if}-->
				</li>
				<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->


		<!--{if $friendlist}-->
		<div class="sidebox">
			<h2 class="title">
			<span class="r_option">
				<a href="space.php?uid=$space[uid]&do=friend&view=me" class="action">全部($space[friendnum])</a>
			</span>
			客户
			</h2>
			<ul class="avatar_list">
				<!--{loop $friendlist $value}-->
				<li>
				<div class="avatar48"><a href="space.php?uid=$value[fuid]"><!--{avatar($value[fuid],small)}--></a></div>
				<p<!--{if $ols[$value[fuid]]}--> class="online_icon_p"<!--{/if}-->><a href="space.php?uid=$value[fuid]">{$_SN[$value[fuid]]}</a></p>
				</li>
				<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->

	</div>
</div>
</div>
</div>

<!--{if $_GET['theme']}--><div class="nn">您是否想使用这款个性风格?<br /><a href="cp.php?ac=theme&op=use&dir=<!--{$_GET['theme']}-->">[应用]</a><a href="cp.php?ac=theme">[取消]</a></div><!--{/if}-->
<!--{template footer}-->

<script>
function getindex(type) {
	var plus = '';
	if(type == 'event') plus = '&type=self';
	ajaxget('space.php?uid=$space[uid]&do=development&view=me'+plus+'&ajaxdiv=maincontent', 'maincontent');
}

//彩虹炫
var elems = selector('div[class~=magicflicker]'); 
for(var i=0; i<elems.length; i++){
	magicColor(elems[i]);
}

</script>


        <script type="application/javascript">
        
            var chart1 = new AwesomeChart('chartCanvas1');
            chart1.title ="";
            chart1.data = [<!--{loop $myself $value}-->$b[$value['english']],<!--{/loop}-->];
            chart1.labels = [<!--{if $myself1[0]['subject']}-->"$myself1[0]['subject']",<!--{/if}--><!--{if $myself1[1]['subject']}-->"$myself1[1]['subject']",<!--{/if}--><!--{if $myself1[2]['subject']}-->"$myself1[2]['subject']",<!--{/if}--><!--{if $myself1[3]['subject']}-->"$myself1[3]['subject']",<!--{/if}--><!--{if $myself1[4]['subject']}-->"$myself1[4]['subject']",<!--{/if}--><!--{if $myself1[5]['subject']}-->"$myself1[5]['subject']",<!--{/if}--><!--{if $myself1[6]['subject']}-->"$myself1[6]['subject']",<!--{/if}--><!--{if $myself1[7]['subject']}-->"$myself1[7]['subject']",<!--{/if}--><!--{if $myself1[8]['subject']}-->"$myself1[8]['subject']",<!--{/if}-->];
            chart1.colors = ['#006CFF', '#FF6600', '#34A038', '#945D59', '#93BBF4', '#F493B8'];
            chart1.randomColors = true;
            chart1.animate = true;
            chart1.animationFrames = 30;
            chart1.draw();
             var chart2 = new AwesomeChart('chartCanvas2');
            chart2.title = "";
            chart2.data = [<!--{if $myself1[0]['subject']}-->$a[$myself1[0]['english']],<!--{/if}--><!--{if $myself1[1]['subject']}-->$a[$myself1[1]['english']],<!--{/if}--><!--{if $myself1[2]['subject']}-->$a[$myself1[2]['english']],<!--{/if}--><!--{if $myself1[3]['subject']}-->$a[$myself1[3]['english']],<!--{/if}--><!--{if $myself1[4]['subject']}-->$a[$myself1[4]['english']],<!--{/if}--><!--{if $myself1[5]['subject']}-->$a[$myself1[5]['english']],<!--{/if}--><!--{if $myself1[6]['subject']}-->$a[$myself1[6]['english']],<!--{/if}--><!--{if $myself1[7]['subject']}-->$a[$myself1[7]['english']],<!--{/if}-->];
            chart2.labels = [<!--{if $myself1[0]['subject']}-->"$myself1[0]['subject']",<!--{/if}--><!--{if $myself1[1]['subject']}-->"$myself1[1]['subject']",<!--{/if}--><!--{if $myself1[2]['subject']}-->"$myself1[2]['subject']",<!--{/if}--><!--{if $myself1[3]['subject']}-->"$myself1[3]['subject']",<!--{/if}--><!--{if $myself1[4]['subject']}-->"$myself1[4]['subject']",<!--{/if}--><!--{if $myself1[5]['subject']}-->"$myself1[5]['subject']",<!--{/if}--><!--{if $myself1[6]['subject']}-->"$myself1[6]['subject']",<!--{/if}--><!--{if $myself1[7]['subject']}-->"$myself1[7]['subject']",<!--{/if}--><!--{if $myself1[8]['subject']}-->"$myself1[8]['subject']",<!--{/if}-->];
            chart2.barFillStyle = chart1.colors[0];
            chart2.labelFillStyle = chart1.colors[0];
            chart2.randomColors = true;
            chart2.animate = true;
            chart2.animationFrames = 30;
            chart2.draw();
            
          
        </script>
 